.sign-in {
  width: 25vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
    @media screen and (max-width: 800px) {
      min-width: 5rem;
      font-size: 1rem;
    }
  }
  .subtitle {
    @media screen and (max-width: 800px) {
      font-size: 0.69rem;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      display: grid;
    }
  }
}
