/* html {
  scrollbar-color: #f9f0f0; 
  scrollbar-width: thin;
  scroll-behavior: smooth;
} */

body {
  font-family: 'poppins';
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
